:root {
  --primary: #d80032;
  --secondary: #ef233c;
  --light-grey: #edf2f4;
  --dark-grey: #8d99ae;
  --dark: #2b2d42;

  --white: #ffffff;
  --black: #000000;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--light-grey);
  background: var(--secondary);
}

::selection {
  color: var(--light-grey);
  background: var(--secondary);
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px var(--light-grey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--primary), var(--secondary));
  border-radius: 10px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-size: 2.4em;
}

@media (max-width: 45rem) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1em;
  }
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Font Face */
@font-face {
  font-family: nevis;
  src: url("../assets/fonts/Nevis.otf");
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* In beta version try to play with it */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Utilities classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: var(--dark);
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* primary-header */

.primary-header {
  /* background-color: var(--white); */
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  transition: 0.3s;
  z-index: 1;
}

.sticky {
  background-color: var(--white);
  padding-block: 1rem;
}

.logo {
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 38px;
}

.brand-name {
  font-family: nevis;
  font-size: 1.4rem;
}

/* Navigation */

.primary-nav {
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 2rem;
}

/* Menu buttons */
.nav-toggle {
  display: none;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-btn {
  cursor: pointer;
  background: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--secondary);
  transition: 200ms ease-in-out;
}

.nav-btn:hover {
  background-color: var(--secondary);
  color: var(--white);
}

@media (max-width: 45rem) {
  .logo {
    gap: 0.5rem;
  }

  .logo img {
    width: 28px;
  }

  .brand-name {
    font-size: inherit;
  }

  .primary-nav {
    background-color: var(--white);
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0);
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
    z-index: 2000;
    background: transparent;
    background-image: url("../assets/Images/menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .nav-toggle[aria-expanded="true"] {
    background-image: url("../assets/Images/menu-close.svg");
  }
}

/* Home section */

.home {
  justify-content: space-between;
  align-items: center;
  background-image: url("../assets/Images/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  position: relative;
}

.main-content {
  flex-direction: column;
  align-items: flex-start;
}

.main-content p {
  width: 20rem;
}

.btn {
  appearance: none;
  cursor: pointer;
  border-radius: 5px;
  min-width: 2rem;
  padding: 0.6rem 1.4rem;
  background-color: var(--secondary);
  color: var(--white);
  border: 2px solid var(--secondary);
}

.btn-light {
  background-color: var(--white);
  color: var(--dark);
  transition: all 0.5s ease;
}

.btn-light:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.hero-img {
  align-self: flex-end;
  width: 50%;
}

@media (max-width: 1100px) {
  .home {
    height: fit-content;
    margin-top: 20%;
  }
}

@media (max-width: 45rem) {
  .home {
    flex-direction: column;
    background: none;
  }

  .main-content {
    align-items: center;
    text-align: center;
  }

  .cta-buttons {
    flex-direction: column;
  }

  .hero-img {
    align-self: center;
  }
}

/* About Section */
.about {
  background-color: var(--dark);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  /* padding: 4rem 4rem 0; */
  padding-inline: 4rem;
  padding-top: 2rem;
}

.about-img {
  max-width: 60%;
  align-self: flex-end;
}

.about-content {
  align-self: center;
  color: var(--white);
  padding-block: 2rem 4rem;
}

.about-sub {
  color: var(--dark-grey);
  letter-spacing: 0.8em;
}

.about-title {
  padding-bottom: 1rem;
}

@media (max-width: 1100px) {
  .about {
    height: fit-content;
  }

  .about-title {
    font-size: 1.4em;
  }
}

@media (max-width: 45rem) {
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-content {
    padding-block: 2rem;
  }

  .about-img {
    align-self: center;
  }
}

/* Services Section */

.services {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
}

.services-head {
  text-align: center;
  padding-inline: 15rem;
}

.services-sub {
  color: var(--dark-grey);
  letter-spacing: 0.8em;
  padding-bottom: 0.2rem;
}

.cards {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin-block: 2rem;
}

.card {
  width: 100%;
  aspect-ratio: 1/1;
  text-align: center;
  padding: 2rem;
  border-radius: 25px;
  background-color: var(--white);
  box-shadow: 0 2px 34px #2b2d4210;
}

.card-img {
  background-color: red;
  height: auto;
  vertical-align: middle;
}

.card-content_head {
  padding-block: 1rem;
  font-size: 1em;
}

@media (max-width: 1100px) {
  .services-title {
    font-size: 1.4em;
  }
  .services-head {
    padding-inline: 2rem;
  }
}

@media (max-width: 45rem) {
  .services-head {
    padding-inline: 1rem;
  }
}

/* Reference */

/* Navbar -> https://youtu.be/HbBMp6yUXO0 */
